@model IEnumerable<MVCApp.Models.ErrorExt>
@{
    ViewBag.Title = "Errors";
}

<h2>Errors</h2>
<script type="text/javascript">

    $(document).ready(function () {

        var modelData = @Html.Raw(Json.Encode(Model))
        $("#grid").kendoGrid({
            
              pageable: true
            , sortable: true
            , silectable: true
            , selectable: true
            , columns: [
            { field: "error.Id", title: "Id" }
         , { field: "error.ReplyToAddress", title: "ReplyToAddress" }
         , { field: "error.Headers", title: "Headers" }
         , { field: "reader", title: "Body" }
            ]
             , dataSource: { pageSize: 10, data:modelData }

        });
    });


 
</script>

<table id="grid">
</table>
