<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <link href="../../Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
    <link href="../../Content/kendo/2012.3.1114/kendo.metro.min.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.8.3.min.js"></script>
    
    <script src="../../Scripts/kendo/2012.3.1114/kendo.web.min.js"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
