@{
    ViewBag.Title = "Index";
}

<h2>PayMessage</h2>


@Html.ActionLink("Load table from XML Files", "LoadTable","User")<br />
@Html.ActionLink("Send Some WCF PayMessages", "SendWCFPay","User")<br />
@Html.ActionLink("Send Some Saga PayMessages", "SendSagaPay","User")<br />

