@model IEnumerable<MVCApp.Mapping.SubscriptionExtView>
@{
    ViewBag.Title = "Subscription";
}

<h2>Subscription</h2>
<script type="text/javascript">





    $(document).ready(function () {

        var modelData = @Html.Raw(Json.Encode(Model))
        $("#grid").kendoGrid({

            pageable: true
            , sortable: true
            , silectable: true
            , selectable: true
            , columns: [
            { field: "Machine", title: "Machine" }
         , { field: "Queue", title: "Queue" }
         , { field: "MessageType", title: "MessageType" }
            ]
             , dataSource: { pageSize: 10, data: modelData }

        });
    });



</script>

<table id="grid">
</table>
